* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

:root {
    --important1: #ffbc6c;
    --important2: #f2c674;
    --important3: #c79254;
    --primary: #2da66b;
    --primaryHover: #2f8058;
    --secondary: #1e6b45;
    --background: white;
}

body {
    margin: 0;
}

.topnav {
    display: flex;
    height: 70px;
    background-color: var(--primary);
    color: white;
    padding-left: 3rem;
    padding-right: 3rem;
}

.botnav {
    display: flex;
    height: 39px;
    background-color: var(--secondary);
    padding-left: 3rem;
    padding-right: 3rem;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.botnav-btn {
    width: 5rem;
    color: white;
    text-align: center;
    padding-top: 0.6rem;
    text-decoration: none;
    display: block;
}

.botnav-btn:hover {
    background-color: var(--primaryHover);
    
}

.cart {
    margin-left: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    min-width: fit-content;
    border: 1px solid transparent;
    cursor: pointer;
}

    .cart-ico {
        height: 3.8rem;
        padding: 1rem;
    }

    .cart-text {
        float: right;
        padding-top: 25px;
        padding-right: 13px;
    }

    .cart:hover {
        border-radius: 4%;
        border: 1px solid white;
    }


.logo {
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 70px;
    width: fit-content;
}

    .vd-logo {
        padding-top: 1rem;
        height: 3.5rem;
    }

    /* .logo:hover {
        background-color: grey;
    } */


.search {
    height: 70px;
    flex-grow: 1;
    min-width: 12rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 0.9rem;
}

    .search-bar {
        height:40px;
        width: 100%;
        float: left;
        border-radius: 6px;
        border: none;
        padding-left: 1rem;
        font-size: 18px;
    }

    .search-ico {
        float:right;
        height: 2.5rem;
        width: 2.5rem;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        background: url(./res/search_ico_35.png) no-repeat;
        background-position: center;
        background-color: var(--important1);
        border: none;
        border-left: 1px solid black;
        transform: translate(0, -2.5rem) 
    }

    .search-ico:hover {
        background-color: var(--important3);
    }

.login {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 9rem;
}
    .login-content, .signout-content{
        background-color: var(--background);
        color: black;
        margin: 0.5rem auto;
        width: 25rem;
        height: 25rem;
        border-radius: 1%;
        padding: 1rem;
    }

    .login-close {
        color: black;
        position: relative;
        left: 71rem;
        top: 2.5rem;
        cursor: pointer;
    }

    .login-txt {
        width: 100%;
        height: 30px;
        font-size: 16px;
        border: none;
        border-bottom: 1px solid black;
        margin-bottom: 30px;
    }

    .login-btn {
        cursor: pointer;
        margin: auto;
    }

    .login-nav-btn {
        margin-left: 1rem;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        min-width: fit-content;
        border: 1px solid transparent;
        padding: 1rem;
        cursor: pointer;
    }
        .login-nav-btn:hover {
            border-radius: 4%;
            border: 1px solid white;
        }  

footer {
    text-align:center;
}

.registration-box {
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: auto;
    padding: 2rem;
    padding-top: 1rem;
    width: 400px;
}

    .registration-form-txt {
        height: 2rem;
        width: 100%;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }

    .registration-field {
        margin-top: 1rem;
    }

.admin-login {
    border: 1px solid black;
    border-radius: 3px;
    margin: auto;
    padding: 2rem;
    padding-top: 1rem;
    width: 400px;
}
    .admin-login-title {
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

.signup-btn {
    width: 100%;
    height: 2rem;
    background-color:var(--important1);
    border: 1px solid grey;
    border-radius: 3px;
    margin-top: 1rem;
}
    
    .signup-btn:hover {
        background-color: var(--important2);
    }

.registration-logo {
    margin: auto;
    width:fit-content;
    padding-bottom: 1rem;
}

.registration-head {
    margin-bottom: 1rem;
}

.error {
    border: 1px solid red;
}

    .error-txt {
        color: red;
        border: none;
    }
